body {
    font-family: 'Cabinet Grotesk', sans-serif;
    background-color: #FFFFE3;
    height: 95vh;
}

hr {
    height: 3px;
    border: none;
    background: black;
    margin: 0;
}

div.heading {
    font-size: 85px;
    font-weight: 800;
    text-align: center;
    justify-content: center;
    width: auto;
}

.card {
    width: 50%;
    height: auto;
    background-color: #10100E;
    margin: 40px auto;
    border-radius: 8px;
    padding: 20px;
}

.name {
    color: #FFFFE3;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
}

.name-input {
    border-radius: 4px;
    border: none;
    padding: 3px;
    font-weight: 600;
}

.weight {
    color: #FFFFE3;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.weight-input {
    border-radius: 4px;
    border: none;
    padding: 3px;
    font-weight: 600;
}

.height {
    color: #FFFFE3;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.height-input {
    border-radius: 4px;
    border: none;
    padding: 3px;
    font-weight: 600;
}

.brackets {
    color: #FFFFE3;
    font-weight: 400;
    font-size: 13px;
}

.check-BMI {
    color: #10100E;
    border: none;
    border-radius: 4.5px;
    background-color: #F8F8DC;
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.check-BMI:hover {
    color: #F8F8DC;
    border: none;
    border-radius: 3px;
    background-color: #10100E;
}

.output {
    text-align: center;
    color: #FFFFE3;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
}

.output-2 {
    text-align: center;
    color: #FFFFE3;
    font-weight: 800;
    font-size: 20px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.appear {
    display: block;
}


.reload {
    color: #F8F8DC;
    border: 2px solid #F8F8DC;
    border-radius: 4.5px;
    background-color: #10100E;
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.reload:hover {
    color: #10100E;
    border-radius: 4.5px;
    background-color: #F8F8DC;
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
}

.copyright {
    color: #FFFFE3;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}


.dark-bg {
    color: #F8F8DC;
}

.dark-bg-button {
    background-color: #10100E !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 5px !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    outline: none !important;
    margin-top: 10px;
}

/*Dark*/

.dark {
    background-color: #1F1F1F;
    color: #B9B4C7;
}

.dark-hr {
    background-color: #B9B4C7;
}

.dark-card {
    background-color: #B9B4C7;
    width: 50%;
    height: auto;
    margin: 40px auto;
    border-radius: 8px;
    padding: 20px;
}

.dark-name {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
}

.dark-weight {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
}

.dark-height {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 0;
}

.dark-brackets {
    color: #1F1F1F;
    font-weight: 400;
    font-size: 13px;
}

.check-BMI-dark {
    width: 100%;
    color: #B9B4C7;
    border: none;
    border-radius: 4.5px;
    background-color: #1F1F1F;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.check-BMI-dark:hover {
    color: #1F1F1F;
    border-radius: 4.5px;
    background-color: #B9B4C7;
}

.output-dark {
    color: #1F1F1F;
}

.output-2-dark {
    color: #1F1F1F;
}

.hidden-dark {
    display: none;
}

.appear-dark {
    display: block;
}

.dark-reload {
    background-color: #B9B4C7;
    color: #1F1F1F;
    border: 2px solid #1F1F1F;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 4.5px;
    font-size: 30px;
    transition: all .2s ease-in-out;
}

.dark-reload:hover {
    background-color: #1F1F1F;
    color: #B9B4C7;
    border: 2px solid #B9B4C7;
}

.white-bg {
    color: #1F1F1F;
}

.white-bg-button {
    background-color: #B9B4C7 !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 5px !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    outline: none !important;
    margin-top: 10px;
}

.copyright-dark {
    color: #1F1F1F;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}